<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% for oo in obj_pro%}
{{ oo.user_name }}
{{ oo.user_status }}
    <br>
{% endfor %}

{% for oo in obj_pro_purchase%}
    {{ oo.purchase_record_rule }}
{{ oo.purchase_record_id }}
{{ oo.purchase_record_column }}
    {{ oo.purchase_record_value }}

    <br>
{% endfor %}


{% for oo in prob_data%}
{{ oo.lottery_month }}
{{ oo.lottery_date }}
{{ oo.lottery_time }}
{{ oo.lottery_id }}
    {{ oo.lottery_number }}
    <br>
{% endfor %}

{{ prob_user.user_name }}
{{ prob_user.user_status }}

</body>
</html>